{% extends 'base.html' %}
{% block content %}

<style>

.page {
    max-width: 500px;
    margin: 60px auto;
    font-family: Arial, sans-serif;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px black;
}

.title {
    background: #7fffd4;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 15px;
}

label {
    margin-bottom: 6px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid grey;
}


.btn {
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: white;
}



</style>

<div class="page">

    <div class="card">

        <h3 style="text-align: center;background-color: blue; padding: 15px;border-radius: 10px;color: white;">Add Todo</h3>

        <form method="POST">

            <div class="field">
                <label>Task</label>
                <input type="text" name="task" placeholder="Enter task" required>
            </div>

            <div class="field">
                <label>Priority</label>
                <select name="priority">
                    <option selected disabled>Priority</option>
                    <option value="low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>

            <div class="field">
                <label>Category</label>
                <select name="category" required>
                    <option disabled selected>Select Category</option>
                    {% for cat in categories %}
                    <option value="{{ cat.name }}">{{ cat.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="field">
                <label>Due Date</label>
                <input type="date" name="duedate">
            </div>

            <div style="display: flex;justify-content: space-between;margin-top: 20px;">
                <button type="submit" class="btn " style="background-color: green;">Add Task</button>
                <a href="{{ url_for('home') }}" class="btn " style="background-color: red;">Back</a>
            </div>

        </form>

    </div>

</div>

{% endblock %}
